<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Color Flood Nostalgia Mid-90s</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Color Flood Nostalgia Mid-90s</h1>

    <table id="theGridTable" class=table>
      <tbody>
        <tr th:each="row: ${theGird}">
          <span th:each="cell: ${row}">
            <td th:id="${cell.id}"
                th:style="${cell.colorName}"
                th:text="${cell.displayText}">
            </td>
          </span>
        </tr>
      </tbody>
    </table>
    <br/>
    <table id="colorChoiceTable" class=table>
      <tbody>
        <tr>
          <span th:each="colorName: ${colorNames}">
            <td th:id="${colorName.NAME}"
              th:styleappend="${colorName.COLOR_STYLE + '; ' + colorRowWidthText}"/>
              <h3><a
                  th:style="'background-color: white'"
                  th:href="@{/submitPlayerColor(nameOfColor=${colorName.NAME})}"
                  th:text="${colorName.NAME}"
              >
                <label /></a></h3>
            </td>
          </span>
        </tr>
      </tbody>
    </table>



    <p><a href="/resetGame">Reset Game</a></p>

  </body>
</html>